{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
    <div class="row m-3">
        <div class="col">
            <a href="/users/"><button type="button" class="btn btn-primary"> Registrar Usuarios</button> </a>
        </div>
        <div class="col">
            <a href="/productos/"><button type="button" class="btn btn-primary"> Registrar Productos</button> </a>
        </div>
        <div class="col">
            <a href="/provedores/"><button type="button" class="btn btn-primary"> Registrar Proveedores</button> </a>
        </div>
    </div>

    <div class="row m-3">
        <div class="col">
            <a href="/reportes_productos/"><button type="button" class="btn btn-secondary"> Reportes de Productos</button> </a>
        </div>
        <div class="col">
            <a href="/reporteAlmacen/"><button type="button" class="btn btn-secondary"> Reportes de Almacen</button> </a>
        </div>
        <div class="col">
            <a href="/reporteVentas/"><button type="button" class="btn btn-secondary"> Reportes de Ventas</button> </a>
        </div>
    </div>

    

    
</div>





{% endblock %}